<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Direcciones</title>
    <link rel="stylesheet" href="/css/administrador/ListaDirecciones.css">
</head>

<body>
    <div class="container">
        <h1>Lista de Direcciones</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Calle</th>
                    <th>Número</th>
                    <th>Municipio</th>
                    <th>Código Postal</th>
                    <th>ID Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="direccion : ${direcciones}">
                    <td th:text="${direccion.id}">1</td>
                    <td th:text="${direccion.calle}">Calle de ejemplo</td>
                    <td th:text="${direccion.numero}">123</td>
                    <td th:text="${direccion.municipio}">Ciudad</td>
                    <td th:text="${direccion.codigoPostal.codigo}">28001</td>
                    <td th:text="${direccion.usuario.idUsuario}">28001</td>
                    <td>
                        <a th:href="@{/direccion/mostrarDireccion/{id}(id=${direccion.id})}">Ver detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/" class="back-link">Volver al inicio</a>
    </div>
</body>

</html>
