<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Códigos Postales</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/ListaCodigoPostales.css}">
</head>

<body>
    <div class="container">
        <h1>Lista de Códigos Postales</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código Postal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="codigoPostal : ${codigosPostales}">
                    <td th:text="${codigoPostal.id}">1</td>
                    <td th:text="${codigoPostal.codigo}">12345</td>
                    <td>
                        <a th:href="@{/codigoPostal/mostrarCodigo/{id}(id=${codigoPostal.id})}">Ver detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}" class="back-link">Volver al inicio</a>
    </div>
</body>

</html>
