<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Zonas con Códigos Postales</title>
    <link rel="stylesheet" href="/css/administrador/ListaZonasCodigoPostal.css">
</head>

<body>
    <div class="container">
        <h1>Lista de Zonas con Códigos Postales</h1>
        <table>
            <thead>
                <tr>
                    <th>Zona</th>
                    <th>Código Postal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="zonaCodigoPostal : ${zonasCodigosPostales}">
                    <td th:text="${zonaCodigoPostal.zona.nombre}">Nombre de la Zona</td>
                    <td th:text="${zonaCodigoPostal.codigoPostal.codigo}">Código Postal</td>
                    <td>
                        <a th:href="@{/zonaCodigoPostal/mostrarZonaCodigoPostal/{id}(id=${zonaCodigoPostal.id})}">Ver detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/" class="back-link">Volver al inicio</a>
    </div>
</body>

</html>
