<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Servicios de Entrega</title>
    <link rel="stylesheet" href="/css/administrador/ListaServiciosEntrega.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Servicios de Entrega</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha Recepción</th>
                    <th>Fecha Entrega</th>
                    <th>Pedido</th>
                    <th>Repartidor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="servicio : ${serviciosEntrega}">
                    <td th:text="${servicio.idServicioEntrega}">ID de Ejemplo</td>
                    <td th:text="${#dates.format(servicio.fechaRecepcion, 'dd-MM-yyyy HH:mm:ss')}">Fecha de Recepción</td>
                    <td th:text="${#dates.format(servicio.fechaEntrega, 'dd-MM-yyyy HH:mm:ss')}">Fecha de Entrega</td>
                    <td th:text="${servicio.pedido.idPedido}">ID Pedido</td>
                    <td th:text="${servicio.repartidor.nombre}">Nombre del Repartidor</td>
                    <td>
                        <a th:href="@{/servicioEntrega/mostrarServicioEntrega/{id}(id=${servicio.idServicioEntrega})}">Ver Detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/" class="back-link">Volver al inicio</a>
    </div>
</body>
</html>
