<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Restaurantes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/ListaRestaurantes.css}">
</head>

<body>
    <div class="container">
        <h1>Lista de Restaurantes</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>CIF</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="restaurante : ${restaurantes}">
                    <td th:text="${restaurante.nombre}">Nombre de ejemplo</td>
                    <td th:text="${restaurante.cif}">CIF de ejemplo</td>
                    <td>
                        <a th:href="@{/restaurantes/mostrarRestaurante/{id}(id=${restaurante.idUsuario})}">Ver
                            detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}" class="back-link">Volver al inicio</a>
    </div>
</body>

</html>