<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Items en Pedido</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/ListaItemsPedido.css}">
</head>
<body>
    <div class="container">
        <h1>Lista de Items en Pedido</h1>
        <table>
            <thead>
                <tr>
                    <th>ID del Pedido</th>
                    <th>Nombre del Item</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="itemPedido : ${itemsPedidos}">
                    <td th:text="${itemPedido.pedido.idPedido}">ID del Pedido</td>
                    <td th:text="${itemPedido.itemMenu.nombre}">Nombre del Item</td>
                    <td th:text="${itemPedido.itemMenu.precio}">0.00</td>
                    <td>
                        <a th:href="@{/pedido/mostrarItemPedido/{id}(id=${itemPedido.id})}">Ver detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}" class="back-link">Volver al inicio</a>
    </div>
</body>
</html>
