<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Pedidos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/ListaPedidos.css}">
</head>

<body>
    <div class="container">
        <h1>Lista de Pedidos</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Cliente</th>
                    <th>Restaurante</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pedido : ${pedidos}">
                    <td th:text="${pedido.idPedido}">ID</td>
                    <td th:text="${pedido.fecha}">Fecha</td>
                    <td th:text="${pedido.estadoPedido}">Estado</td>
                    <td th:text="${pedido.cliente.nombre}">Cliente</td>
                    <td th:text="${pedido.restaurante.nombre}">Restaurante</td>
                    <td><a th:href="@{/pedido/mostrarPedido/{id}(id=${pedido.idPedido})}">Ver detalles</a></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}" class="back-link">Volver al inicio</a>
    </div>
</body>

</html>