<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Pagos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/ListaPagos.css}">
</head>

<body>
    <div class="container">
        <h1>Lista de Pagos</h1>
        <table>
            <thead>
                <tr>
                    <th>ID del Pago</th>
                    <th>Método de Pago</th>
                    <th>ID del Pedido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pago : ${pagos}">
                    <td th:text="${pago.idPago}">ID Pago</td>
                    <td th:text="${pago.metodoPago}">Método de Pago</td>
                    <td th:text="${pago.pedido.idPedido}">ID Pedido</td>
                    <td>
                        <a th:href="@{/pago/mostrarPago/{id}(id=${pago.idPago})}">Ver detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/" class="back-link">Volver al inicio</a>
    </div>
</body>

</html>