<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="/css/administrador/ListaClientes.css">
</head>

<body>
    <div class="container">
        <h1>Lista de Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nombre}">Nombre de ejemplo</td>
                    <td th:text="${cliente.apellido}">Apellido de ejemplo</td>
                    <td th:text="${cliente.dni}">12345678X</td>
                    <td>
                        <a th:href="@{/clientes/mostrarCliente/{id}(id=${cliente.idUsuario})}">Ver detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/" class="back-link">Volver al inicio</a>
    </div>
</body>

</html>
