<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Items del Menú</title>
    <link rel="stylesheet" href="/css/administrador/ListaItemsMenu.css">
</head>

<body>
    <div class="container">
        <h1>Lista de Items del Menú</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th>Carta Menú</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.nombre}">Nombre de ejemplo</td>
                    <td th:text="${item.precio}">0.00</td>
                    <td th:text="${item.tipo}">Tipo de ejemplo</td>
                    <td th:text="${item.cartamenu.nombre}">Carta de ejemplo</td>
                    <td>
                        <a th:href="@{/cartas/mostrarItem/{id}(id=${item.idItemMenu})}">Ver detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/" class="back-link">Volver al inicio</a>
    </div>
</body>

</html>