<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Repartidores</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/ListaRepartidores.css}">
</head>
<body>
    <div class="container">
        <h1>Lista de Repartidores</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Eficiencia</th>
                    <th>Zona</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="repartidor : ${repartidores}">
                    <td th:text="${repartidor.nombre}">Nombre del Repartidor</td>
                    <td th:text="${repartidor.apellido}">Apellido del Repartidor</td>
                    <td th:text="${repartidor.dni}">DNI del Repartidor</td>
                    <td th:text="${repartidor.eficiencia}">Eficiencia del Repartidor</td>
                    <td th:text="${repartidor.zona.nombre}">Zona del Repartidor</td>
                    <td>
                        <a th:href="@{/repartidores/mostrarRepartidor/{id}(id=${repartidor.idUsuario})}">Ver Detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/" class="back-link">Volver al inicio</a>
    </div>
</body>
</html>
