<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Zonas</title>
    <link rel="stylesheet" href="/css/administrador/ListaZonas.css">
</head>

<body>
    <div class="container">
        <h1>Lista de Zonas</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="zona : ${zonas}">
                    <td th:text="${zona.nombre}">Nombre de ejemplo</td>
                    <td>
                        <a th:href="@{/zona/mostrarZona/{id}(id=${zona.id})}">Ver detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/" class="back-link">Volver al inicio</a>
    </div>
</body>

</html>
