<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Código Postal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/VerCodigoPostal.css}">
</head>

<body>
    <div class="container">
        <div class="header">
            Detalles del Código Postal
        </div>
        <div class="content">
            <table>
                <tr>
                    <td>ID:</td>
                    <td th:text="${codigoPostal.id}">1</td>
                </tr>
                <tr>
                    <td>Código Postal:</td>
                    <td th:text="${codigoPostal.codigo}">12345</td>
                </tr>
            </table>
            <a th:href="@{/codigoPostal/mostrarCodigos}" class="back-link">Volver a la lista de códigos</a>
        </div>
    </div>
</body>

</html>
