<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Cliente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/VerCliente.css}">
</head>

<body>
    <div class="container">
        <div class="header">
            Detalles del Cliente
        </div>
        <div class="content">
            <table>
                <tr>
                    <td>Nombre:</td>
                    <td th:text="${cliente.nombre}">Nombre de ejemplo</td>
                </tr>
                <tr>
                    <td>Apellido:</td>
                    <td th:text="${cliente.apellido}">Apellido de ejemplo</td>
                </tr>
                <tr>
                    <td>DNI:</td>
                    <td th:text="${cliente.dni}">12345678A</td>
                </tr>
                <tr>
                    <td>Favoritos:</td>
                    <td>
                        <ul>
                            <li th:each="restaurante : ${cliente.favoritos}" th:text="${restaurante.nombre}">Restaurante de ejemplo</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <a th:href="@{/clientes/mostrarClientes}" class="back-link">Volver a la lista de clientes</a>
        </div>
    </div>
</body>

</html>
