<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Item del Menú</title>
    <link rel="stylesheet" type="text/css" href="/css/administrador/VerItemMenu.css">
</head>

<body>
    <div class="container">
        <div class="header">Detalles del Item del Menú</div>
        <div class="content">
            <table>
                <tr>
                    <td>Nombre:</td>
                    <td th:text="${itemMenu.nombre}">Nombre de ejemplo</td>
                </tr>
                <tr>
                    <td>Precio:</td>
                    <td th:text="${itemMenu.precio}">0.00</td>
                </tr>
                <tr>
                    <td>Tipo:</td>
                    <td th:text="${itemMenu.tipo}">Tipo de ejemplo</td>
                </tr>
                <tr>
                    <td>Carta Menú:</td>
                    <td th:text="${itemMenu.cartamenu.nombre}">Carta de ejemplo</td>
                </tr>
            </table>
            <a th:href="@{/cartas/mostrarItems}" class="back-link">Volver a la lista de items</a>
        </div>
    </div>
</body>

</html>