<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Item en Pedido</title>
    <link rel="stylesheet" href="/css/administrador/VerItemPedido.css">
</head>

<body>
    <div class="container">
        <div class="header">Detalles del Item en Pedido</div>
        <div class="content">
            <table>
                <tr>
                    <td>ID del Pedido:</td>
                    <td th:text="${itemPedido.pedido.idPedido}">ID del Pedido</td>
                </tr>
                <tr>
                    <td>Nombre del Item:</td>
                    <td th:text="${itemPedido.itemMenu.nombre}">Nombre de ejemplo</td>
                </tr>
                <tr>
                    <td>Precio:</td>
                    <td th:text="${itemPedido.itemMenu.precio}">0.00</td>
                </tr>
            </table>
            <a th:href="@{/pedido/mostrarItemsPedido}" class="back-link">Volver a la lista de items en pedido</a>
        </div>
    </div>
</body>

</html>