<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalles del Pedido</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/VerPedido.css}">
</head>

<body>
    <div class="container">
        <div class="header">Detalles del Pedido</div>
        <div class="content">
            <table>
                <tr>
                    <td>ID del Pedido:</td>
                    <td th:text="${pedido.idPedido}">ID</td>
                </tr>
                <tr>
                    <td>Fecha:</td>
                    <td th:text="${pedido.fecha}">Fecha</td>
                </tr>
                <tr>
                    <td>Estado del Pedido:</td>
                    <td th:text="${pedido.estadoPedido}">Estado</td>
                </tr>
                <tr>
                    <td>Cliente:</td>
                    <td th:text="${pedido.cliente.nombre}">Cliente</td>
                </tr>
                <tr>
                    <td>Restaurante:</td>
                    <td th:text="${pedido.restaurante.nombre}">Restaurante</td>
                </tr>
            </table>

            <!-- Sección de Items del Pedido -->
            <h3>Items Asociados al Pedido</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID del Item</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${itemsPedido}">
                        <td th:text="${item.id}">ID</td>
                        <td th:text="${item.itemMenu.nombre}">Nombre del Item</td>
                        <td th:text="${item.itemMenu.precio}">0.00</td>
                    </tr>
                </tbody>
            </table>

            <a th:href="@{/pedido/mostrarPedidos}" class="back-link">Volver a la lista de pedidos</a>
        </div>
    </div>
</body>

</html>
