<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalles del Pago</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/VerPago.css}">
</head>

<body>
    <div class="container">
        <div class="header">Detalles del Pago</div>
        <div class="content">
            <table>
                <tr>
                    <td>ID del Pago:</td>
                    <td th:text="${pago.idPago}">ID Pago</td>
                </tr>
                <tr>
                    <td>Método de Pago:</td>
                    <td th:text="${pago.metodoPago}">Método de Pago</td>
                </tr>
                <tr>
                    <td>ID del Pedido:</td>
                    <td th:text="${pago.pedido.idPedido}">ID Pedido</td>
                </tr>
                <tr>
                    <td>Estado del Pedido:</td>
                    <td th:text="${pago.pedido.estadoPedido}">Estado Pedido</td>
                </tr>
                <tr>
                    <td>Cliente:</td>
                    <td th:text="${pago.pedido.cliente.nombre}">Nombre Cliente</td>
                </tr>
                <tr>
                    <td>Restaurante:</td>
                    <td th:text="${pago.pedido.restaurante.nombre}">Nombre Restaurante</td>
                </tr>
            </table>
            <a th:href="@{/pago/mostrarPagos}" class="back-link">Volver a la lista de pagos</a>
        </div>
    </div>
</body>

</html>
