<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Restaurante</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/VerRestaurante.css}">
</head>

<body>
    <div class="container">
        <div class="header">
            Detalles del Restaurante
        </div>
        <div class="content">
            <table>
                <tr>
                    <td>Nombre:</td>
                    <td th:text="${restaurante.nombre}">Nombre de ejemplo</td>
                </tr>
                <tr>
                    <td>CIF:</td>
                    <td th:text="${restaurante.cif}">CIF de ejemplo</td>
                </tr>
            </table>
            <a th:href="@{/restaurantes/mostrarRestaurantes}" class="back-link">Volver a la lista de restaurantes</a>
        </div>
    </div>
</body>

</html>