<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Servicio de Entrega</title>
    <link rel="stylesheet" href="/css/administrador/VerServicioEntrega.css">
</head>

<body>
    <div class="container">
        <div class="header">Detalles del Servicio de Entrega</div>
        <div class="content">
            <table>
                <tr>
                    <td>ID Servicio:</td>
                    <td th:text="${servicioEntrega.idServicioEntrega}">ID de Ejemplo</td>
                </tr>
                <tr>
                    <td>Fecha Recepción:</td>
                    <td th:text="${#dates.format(servicioEntrega.fechaRecepcion, 'dd-MM-yyyy HH:mm:ss')}">Fecha de
                        Recepción</td>
                </tr>
                <tr>
                    <td>Fecha Entrega:</td>
                    <td th:text="${#dates.format(servicioEntrega.fechaEntrega, 'dd-MM-yyyy HH:mm:ss')}">Fecha de Entrega
                    </td>
                </tr>
                <tr>
                    <td>Pedido:</td>
                    <td th:text="${servicioEntrega.pedido.idPedido}">ID del Pedido</td>
                </tr>
                <tr>
                    <td>Repartidor:</td>
                    <td th:text="${servicioEntrega.repartidor.nombre}">Nombre del Repartidor</td>
                </tr>
            </table>
            <a th:href="@{/servicioEntrega/mostrarServiciosEntrega}" class="back-link">Volver a la lista de servicios de
                entrega</a>
        </div>
    </div>
</body>

</html>