<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Zona</title>
    <link rel="stylesheet" href="/css/administrador/VerZona.css">
</head>

<body>
    <div class="container">
        <div class="header">
            Detalles de la Zona
        </div>
        <div class="content">
            <table>
                <tr>
                    <td><strong>Nombre de la Zona:</strong></td>
                    <td th:text="${zona.nombre}">Nombre de la Zona</td>
                </tr>
            </table>
            <h3>Códigos Postales Asociados</h3>
            <table>
                <thead>
                    <tr>
                        <th>Código Postal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="codigoPostal : ${codigosPostales}">
                        <td th:text="${codigoPostal.codigo}">Código Postal</td>
                    </tr>
                </tbody>
            </table>
            <a th:href="@{/zona/mostrarZonas}" class="back-link">Volver a la lista de zonas</a>
        </div>
    </div>
</body>

</html>
