<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Zona con Código Postal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrador/VerZonaCodigoPostal.css}">
</head>

<body>
    <div class="container">
        <div class="header">Detalles de la Zona con Código Postal</div>
        <div class="content">
            <table>
                <tr>
                    <td>Zona:</td>
                    <td th:text="${zonaCodigoPostal.zona.nombre}">Nombre de la Zona</td>
                </tr>
                <tr>
                    <td>Código Postal:</td>
                    <td th:text="${zonaCodigoPostal.codigoPostal.codigo}">Código Postal</td>
                </tr>
            </table>
            <a th:href="@{/zonaCodigoPostal/mostrarZonasCodigoPostal}" class="back-link">Volver a la lista</a>
        </div>
    </div>
</body>

</html>
