body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.add-to-cart-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart-btn img {
    width: 30px; /* Ajusta el tamaño de la imagen aquí */
    height: 30px; /* Ajusta el tamaño de la imagen aquí */
}

.add-to-cart-btn img:hover {
    transform: scale(1.1); /* Efecto hover para agrandar la imagen */
}

#cart {
    position: fixed;
    top: -100%;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: top 0.3s ease;
    padding: 20px;
    overflow-y: auto;
}

#cart.open {
    top: 0;
}

#cart h3 {
    margin-top: 0;
}

#cart button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

#cart button:hover {
    background-color: darkgreen;
}

#cart-total {
    font-weight: bold;
    margin-top: 20px;
}

.remove-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    margin-left: 10px;
    font-size: 12px; /* Ajusta el tamaño del texto aquí */
    padding: 2px 5px; /* Ajusta el tamaño del botón aquí */
}
