<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Web con Desplazamiento Horizontal</title>
  <link rel="stylesheet" href="/css/aboutUs.css">
</head>

<body>

  <!-- Botón para volver al index -->
  <button class="boton-index" onclick="volverAlInicio()">Volver al Inicio</button>

  <nav>
    <a href="#seccion1" class="nav-link">Jorge</a>
    <a href="#seccion2" class="nav-link">Pablo</a>
    <a href="#seccion3" class="nav-link">Marco</a>
    <a href="#seccion4" class="nav-link">Ismael</a>
  </nav>

  <!-- Puntos de navegación -->
  <div class="puntos-nav">
    <div class="punto" onclick="navegarASeccion(1)"></div>
    <div class="punto" onclick="navegarASeccion(2)"></div>
    <div class="punto" onclick="navegarASeccion(3)"></div>
    <div class="punto" onclick="navegarASeccion(4)"></div>
  </div>

  <!-- Botón para avanzar -->
  <button class="boton avanzar">→</button>

  <!-- Botón para retroceder -->
  <button class="boton retroceder">←</button>

  <div class="contenedor" id="contenedor">
    <section id="seccion1" class="seccion seccion1">
      <div class="contenido">
        <div class="texto">
          <h1>Jorge López Gómez</h1>
          <p>jorge.lopez32@alu.uclm.es</p>
        </div>
        <div class="imagen">
          <img src="/img/FotoJorge.jpg" alt="Imagen Pestaña 1">
        </div>
      </div>
    </section>

    <section id="seccion2" class="seccion seccion2">
      <div class="contenido">
        <div class="texto">
          <h1>Pablo Verdúguez Gervaso</h1>
          <p>pablo.verduguez@alu.uclm.es</p>
        </div>
        <div class="imagen">
          <img src="/img/FotoPablo.JPEG" alt="Imagen Pestaña 2">
        </div>
      </div>
    </section>

    <section id="seccion3" class="seccion seccion3">
      <div class="contenido">
        <div class="texto">
          <h1>Marco Muñoz García</h1>
          <p>marco.munoz@alu.uclm.es</p>
        </div>
        <div class="imagen">
          <img src="/img/FotoMarco.jpg" alt="Imagen Pestaña 3">
        </div>
      </div>
    </section>

    <section id="seccion4" class="seccion seccion4">
      <div class="contenido">
        <div class="texto">
          <h1>Ismael López Marín</h1>
          <p>ismael.lopez6@alu.uclm.es</p>
        </div>
        <div class="imagen">
          <img src="/img/FotoIsmael.jpg" alt="Imagen Pestaña 4">
        </div>
      </div>
    </section>
  </div>

  <script src="/js/aboutUs.js"></script>

</body>

</html>