<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket de Pedido</title>
    <link rel="stylesheet" href="/css/ConfirmacionPedido.css">
</head>
<body>
    <div class="ticket">
        <div class="header">
            <h2 th:text="${restaurante != null ? restaurante.nombre : 'Nombre no disponible'}"></h2>
        </div>
        <hr/>
        <p>Cliente: <span th:text="${cliente.nombre}"></span> <span th:text="${cliente.apellido}"></span></p>
        <p>Fecha: <span th:text="${#dates.format(new java.util.Date(pedido.fecha), 'dd/MM/yyyy HH:mm')}"></span></p>
        <p>Dirección de Recogida:
            <span th:text="${direccionRecogida.calle}"></span>
            <span th:text="${direccionRecogida.numero}"></span>
            <span th:text="${direccionRecogida.complemento}"></span>,
            <span th:text="${direccionRecogida.municipio}"></span>,
            <span th:text="${direccionRecogida.codigoPostal.codigo}"></span>
        </p>
        <p>Dirección de Entrega:
            <span th:text="${direccionEntrega.calle}"></span>
            <span th:text="${direccionEntrega.numero}"></span>
            <span th:text="${direccionEntrega.complemento}"></span>,
            <span th:text="${direccionEntrega.municipio}"></span>,
            <span th:text="${direccionEntrega.codigoPostal.codigo}"></span>
        </p>
        <hr/>
        <div class="items">
            <div class="item">
                <span><strong>Producto</strong></span>
                <span><strong>Precio</strong></span>
            </div>
            <div th:each="item : ${items}">
                <div class="item">
                    <span th:text="${item.nombre}"></span>
                    <td th:text="${#numbers.formatDecimal(item.precio, 1, 'POINT', 2, 'COMMA')} + ' €'"></td>
                </div>
            </div>
        </div>
        <hr/>
        <div class="total">
            <span>Total:</span>
            <td th:text="${#numbers.formatDecimal(total, 1, 'POINT', 2, 'COMMA')} + ' €'"></td>
        </div>
        <p class="pago">Método de Pago: <span th:text="${pago.metodoPago}"></span></p>
    </div>
    <button onclick="location.href='/clientes/verRestaurantes'" class="user-action-button">📦</button>
</body>
</html>