<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Datos del Cliente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/editarDatosCliente.css}">
</head>
<body>
    <form th:action="@{/clientes/modificarDireccion/{idUsuario}(idUsuario=${cliente.idUsuario})}" method="post">
        <table>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <h2 th:text="'Editar Datos del Cliente: ' + ${cliente.idUsuario}">Editar Datos del Cliente</h2>
                </td>
            </tr>
            <tr>
                <td><label for="idUsuario">ID Usuario:</label></td>
                <td><input type="text" id="idUsuario" name="idUsuario" th:value="${usuario.idUsuario}" readonly></td>
            </tr>
            <tr>
                <td><label for="pass">Contraseña:</label></td>
                <td><input type="text" id="pass" name="pass" th:value="${cliente.pass}" readonly></td>
            </tr>
            <tr>
                <td><label for="nombre">Nombre:</label></td>
                <td><input type="text" id="nombre" name="nombre" th:value="${cliente.nombre}" readonly></td>
            </tr>
            <tr>
                <td><label for="apellido">Apellido:</label></td>
                <td><input type="text" id="apellido" name="apellido" th:value="${cliente.apellido}" readonly></td>
            </tr>
            <tr>
                <td><label for="dni">DNI:</label></td>
                <td><input type="text" id="dni" name="dni" th:value="${cliente.dni}" readonly></td>
            </tr>
            <tr>
                <td><label for="direccion">Dirección:</label></td>
                <td><input type="text" id="direccion" name="direccion" th:value="${direccion != null ? direccion.id : 'null'}" readonly></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="button" onclick="location.href='/direccion/formularioRegistro'">Registrar Nueva Dirección</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
