<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Restaurante</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/interfazGestionRestaurante.css}">
</head>
<body>
    <div class="container">
        <div class="header text-center">
            <h1>Bienvenido al panel de Gestión</h1>
        </div>
    
        <div class="content mt-4">
            <div class="mb-4">
                <h2>Nombre del Restaurante: <span th:text="${restaurante.nombre}"></span></h2>                
            </div>

            <div th:each="direccion : ${direcciones}">
                <p th:text="${direccion.calle} + ', ' + ${direccion.numero} + ',  ' + ${direccion.municipio} ">Dirección completa</p>
            </div>
            

            <div class="mb-4">
                <button type="button" onclick="location.href='/direccion/formularioRegistro'">Registrar Nueva Dirección</button>
            </div>
    
            <div>
                <h3>Cartas/Menús:</h3>
                <ul class="menu-list">
                    <li th:each="menu : ${menus}">
                        <a th:href="@{'/cartas/modificar/' + ${menu.idCarta}}" th:text="${menu.nombre}"></a>
                    </li>
                </ul>
            </div>

            <div class="mt-4">
                <a th:href="@{'/cartas/register/' + ${restaurante.idUsuario}}" class="btn btn-primary">Crear Menú</a>
            </div> 
        </div>
    </div>
    <button type="button" class="back-button" onclick="location.href='/';">&larr;</button>
</body>
</html>