<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Menus</title>
</head>
<body>
    <h2>Registro de Menus</h2>
    <form action="/menu/registrarMenu" method="post">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>
        </div>

        <input type="hidden" name="cif" value="${cif}">
        
        <input type="submit" value="Registrar">
    </form>
</body>