<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Códigos Postales</title>
    <link rel="stylesheet" href="/css/Pruebas-RegisterCodigoPostal.css">
</head>
<body>
    <form action="/codigoPostal/registrarCodigoPostal" method="post">
    <table>
        <tr>
            <td colspan="2" style="text-align: center;"><h2>Registro de Códigos Postales</h2></td>
        </tr>
        <tr>
            <td><label for="codigo">Código Postal:</label></td>
            <td><input type="text" id="codigo" name="codigo" required></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="submit" value="Registrar">
            </td>
        </tr>
    </table>
</body>
</html>