<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registro de Repartidor</title>
</head>

<body>
    <h2>Registro de Repartidor</h2>
    <form th:action="@{/repartidores/registrarRepartidor}" method="post">
        <div>
            <label for="idUsuario">Nombre de Usuario:</label>
            <input type="text" id="idUsuario" name="idUsuario" required>
        </div>
        <br>

        <div>
            <label for="pass">Contraseña:</label>
            <input type="password" id="pass" name="pass" required>
        </div>
        <br>

        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <br>

        <div>
            <label for="apellido">Apellidos:</label>
            <input type="text" id="apellido" name="apellido" required>
        </div>
        <br>

        <div>
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" required>
        </div>
        <div>
            <label for="zona">Zona:</label>
            <select id="zona" name="zona" required>
                <option value="" disabled selected>Seleccione una zona</option>
                <!-- Asegúrate de que el valor sea el ID de la zona -->
                <option th:each="zona : ${zonas}" th:value="${zona.id}" th:text="${zona.nombre}"></option>
            </select>
        </div>

        <input type="hidden" name="tipoUsuario" value="REPARTIDOR">
        <input type="hidden" name="eficiencia" value="0">
        <div>
            <button type="submit">Registrar</button>
            <a th:href="@{/zona/register}" class="button">Crear Zona</a>
        </div>
    </form>
</body>

</html>