<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Zona</title>
    <link rel="stylesheet" href="/css/Pruebas-RegisterZona.css">
</head>
<body>
    <form action="/zona/registrarZona" method="post">
        <table>
            <tr>
                <td colspan="2" style="text-align: center;"><h2>Registro de Zona</h2></td>
            </tr>
            <tr>
                <td><label for="nombre">Nombre de Zona:</label></td>
                <td><input type="text" id="nombre" name="nombre" required></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit">Registrar</button>
                </td>
            </tr>
        </table>
    </form>
    <button type="back-button" class="back-button" onclick="window.history.back();">&larr;</button>
</body>
</html>