<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registro de Repartidor</title>
    <link rel="stylesheet" type="text/css" href="/css/Pruebas-RegisterRepartidor.css">
</head>

<body>
    <form action="/repartidores/registrarRepartidor" method="post">
    <table>
        <tr>
            <td colspan="2" style="text-align: center;"><h2>Registro de Repartidor</h2></td>
        </tr>
        <tr>
            <td><label for="idUsuario">Nombre de Usuario:</label></td>
            <td><input type="text" id="idUsuario" name="idUsuario" required></td>
        </tr>
        <tr>
            <td><label for="pass">Contraseña:</label></td>
            <td><input type="password" id="pass" name="pass" required></td>
        </tr>
        <tr>
            <td><label for="nombre">Nombre:</label></td>
            <td><input type="text" id="nombre" name="nombre" required></td>
        </tr>
        <tr>
            <td><label for="apellido">Apellidos:</label></td>
            <td><input type="text" id="apellido" name="apellido" required></td>
        </tr>
        <tr>
            <td><label for="dni">DNI:</label></td>
            <td><input type="text" id="dni" name="dni" required></td>
        </tr>
        <tr>
            <td><label for="zona">Zona:</label></td>
            <td>
                <select id="zona" name="zona" required>
                    <option value="" disabled selected>Seleccione una zona</option>
                    <option th:each="zona : ${zonas}" th:value="${zona.id}" th:text="${zona.nombre}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <a th:href="@{/zona/register}" class="button">Crear Zona</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="hidden" name="tipoUsuario" value="REPARTIDOR">
                <input type="hidden" name="eficiencia" value="0">
                <button type="submit">Registrar</button>
            </td>
        </tr>
        
    </table>
</body>

</html>