<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de  Codigos Postales</title>
</head>
<body>
    <h2>Registro de Codigos Postales</h2>
    <form action="/codigoPostal/registrarCodigoPostal" method="post">
        <label for="codigo">Codigo Postal:</label>
        <input type="text" id="codigo" name="codigo" required><br><br>
        <input type="submit" value="Registrar">
    </form>
    
    
</body>
</html>