<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Restaurante</title>
</head>
<body>
    <h2>Registro de Restaurante</h2>
    <form action="/restaurantes/registrarRestaurante" method="post">
        <label for="idUsuario">Nombre de Usuario:</label>
        <input type="text" id="idUsuario" name="idUsuario" required><br><br>
    
        <label for="pass">Contraseña:</label>
        <input type="password" id="pass" name="pass" required><br><br>
    
        <label for="cif">CIF:</label>
        <input type="text" id="cif" name="cif" required><br><br>
    
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>
    
        <input type="hidden" name="tipoUsuario" value="RESTAURANTE">
    
        <input type="submit" value="Registrar">
    </form>
    
    
</body>
</html>