<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Dirección</title>
    <link rel="stylesheet" type="text/css" href="/css/RegistrarDireccion.css">
</head>
<body>
    <form action="/direccion/registro" method="post">
        <table>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <h2 th:text="'Registro de Dirección de ' + ${usuario.idUsuario}">Registro de Dirección</h2>
                </td>
            </tr>
            <tr>
                <td><label for="calle">Calle:</label></td>
                <td><input type="text" id="calle" name="calle" required maxlength="50" th:value="${direccion.calle}"></td>
            </tr>
            <tr>
                <td><label for="numero">Número:</label></td>
                <td><input type="text" id="numero" name="numero" required maxlength="10" th:value="${direccion.numero}"></td>
            </tr>
            <tr>
                <td><label for="complemento">Complemento:</label></td>
                <td><input type="text" id="complemento" name="complemento" maxlength="50" th:value="${direccion.complemento}"></td>
            </tr>
            <tr>
                <td><label for="municipio">Municipio:</label></td>
                <td><input type="text" id="municipio" name="municipio" required maxlength="50" th:value="${direccion.municipio}"></td>
            </tr>
            <tr>
                <td><label for="codigoPostal">Código Postal:</label></td>
                <td>
                    <select id="codigoPostal" name="codigoPostal" required>
                        <option value="" disabled selected>Seleccione un código postal</option>
                        <option th:each="cp : ${codigosPostales}" th:value="${cp.id}" th:text="${cp.codigo}"></option>
                    </select>
                </td>
                <td><input type="hidden" name="idUsuario" th:value="${usuario.idUsuario}"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit">Registrar Dirección</button>
                </td>
            </tr>
        </table>
    </form>
    <button type="back-button" class="back-button" onclick="window.history.back();">&larr;</button>
</body>
</html>
