<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Seleccionar Rol</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/rol.css}">
</head>
<body>
    <h1>Seleccionar Rol</h1>
    <a th:href="@{/clientes/register}" class="button">Registrar Cliente</a>
    <a th:href="@{/repartidores/register}" class="button">Registrar Repartidor</a>
    <a th:href="@{/restaurantes/register}" class="button">Registrar Restaurante</a>
</body>
</html>