<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menús del Restaurante</title>
    <link rel="stylesheet" href="/css/verMenusRestaurante.css">
</head>

<body>
    <div class="container">
        <!-- Mostrar el nombre del restaurante -->
        <h2>Menús del Restaurante: <span th:text="${restaurante.nombre}" th:attr="data-restaurante-id=${restaurante.idUsuario}"></span>
        </h2>
        <!-- Si no hay menús, mostrar un mensaje -->
        <div th:if="${#lists.isEmpty(menus)}">
            <p>No hay menús disponibles en este momento.</p>
        </div>

        <!-- Si hay menús, mostrarlos en una tabla -->
        <div th:if="${not #lists.isEmpty(menus)}">
            <div th:each="menu : ${menus}">
                <h3 th:text="${menu.nombre}"></h3>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre del Item</th>
                            <th>Precio</th>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${menu.items}">
                            <td th:text="${item.nombre}"></td>
                            <td th:text="${item.precio}"></td>
                            <td th:text="${item.tipo}"></td>
                            <td>
                                <form onsubmit="addToCart(event, this)">
                                    <input type="hidden" name="nombre" th:value="${item.nombre}" />
                                    <input type="hidden" name="precio" th:value="${item.precio}" />
                                    <input type="hidden" name="tipo" th:value="${item.tipo}" />
                                    <input type="hidden" name="idItemMenu" th:value="${item.idItemMenu}" />
                                    <button type="submit" class="add-to-cart-btn">
                                        <img src="/img/Carrito2.png" alt="Carrito"/>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Contenedor del carrito de compras -->
    <div id="cart" onclick="toggleCart()">
        <h3>Carrito</h3>
        <ul id="cart-items"></ul>
        <div id="cart-total">Total: $0.00</div>
        <button onclick="finalizePurchase()">Finalizar compra</button>
    </div>

    <script src="/js/verMenusRestaurante.js"></script>
</body>
</html>