<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ver Restaurantes</title>
    <link rel="stylesheet" type="text/css" href="/css/verRestaurantes.css">
</head>

<body>
    <div class="container" th:with="vistaFavoritos=${vistaFavoritos != null ? vistaFavoritos : false}"
        th:attr="data-vista-favoritos=${vistaFavoritos}">
        <div class="header-left" th:if="${usuario != null}">
            <h3>¡Hola, <span th:text="${usuario.idUsuario}"></span>!</h3>
            <div class="user-actions">
                <button onclick="location.href='/clientes/editarDatos'" class="user-action-button">Editar datos</button>
                <button onclick="location.href='/clientes/logout'" class="user-action-button">Cerrar sesión</button>
                <button onclick="location.href='/clientes/verPedidos'" class="user-action-button">Ver mis pedidos</button>
                <button onclick="location.href='/clientes/verRestaurantes'" class="user-action-button">Ver Restaurantes</button>
            </div>
        </div>

        <h2 th:text="${vistaFavoritos} ? 'Mis Restaurantes Favoritos' : 'Buscar y Ver Restaurantes'"></h2>

        <form th:action="@{/clientes/filtrar}" method="get" th:if="${!vistaFavoritos}">
            <input type="text" id="nombre" name="nombre" placeholder="Filtrar restaurante por nombre">
            <button type="submit">Filtrar</button>
            <a th:href="@{/clientes/verRestaurantes(favoritos=true)}" class="toggle-favorites">Ver Favoritos</a>
        </form>

        <div th:if="${vistaFavoritos}" style="text-align: center;">
            <a th:href="@{/clientes/verRestaurantes}" class="toggle-favorites">Ver Todos</a>
        </div>

        <div class="restaurant-grid">
            <div th:each="restaurante : ${restaurantes}" class="restaurant-card">
                <div class="restaurant-name" th:text="${restaurante.nombre}"></div>
                <a th:href="@{/clientes/verMenusRestaurante/{id}(id=${restaurante.idUsuario})}">Ver Menús</a>

                <button type="button" class="favorite-star"
                    th:classappend="${cliente != null && cliente.favoritos.contains(restaurante) ? 'favorited' : ''}"
                    title="Marcar/Desmarcar como Favorito" th:data-id="${restaurante.idUsuario}"
                    onclick="toggleFavorite(this)">
                    <span class="favorite-icon"
                        th:text="${cliente != null && cliente.favoritos.contains(restaurante) ? '★' : '☆'}"></span>
                </button>
            </div>
        </div>
    </div>

    <script src="/js/verRestaurantes.js"></script>
    <button type="back-button" class="back-button" onclick="window.history.back();">&larr;</button>
</body>

</html>